<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SuiteExample">

    <test name="Test_1">
        <classes>
            <class name="com.tests.Tests1_SingleProductPurchase"/>
        </classes>
    </test>

    <test name="Test_2">
        <classes>
            <class name="com.tests.Test2_MultipleProductsPurchase"/>
        </classes>
    </test>

</suite>
